name: Test

on:
  # Run on push and PRs to master.
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

  # Allow manual triggering.
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo build -r && cargo test -r
